 .col-md-6.col-md-offset-3  
  .text-center
    %h1 Edit Link
      %p.lead
        = @link.url
.text-center
  %br
  = link_to "Cancel", assignment_submission_link_path(@assignment, @submission, @link)
  %br
  = render 'form'