.col-md-6.col-md-offset-3
  .text-center
    %h2
      Users
      %br
    / = link_to "Add a User", new_user_path
- @users.each do |user|
  .col-md-4
    .list-group-item
      .text-center
        = link_to user.first_name, user_path(user)
        = link_to user.last_name, user_path(user)
        %br
        = link_to "Edit User", edit_user_path(user)
        |
        = link_to "Delete User", user_path(user), method: :delete
        %br
        