.col-md-6.col-md-offset-3  
  .text-center  
    %h1 Links
    %p.lead Create a new link
    = link_to "cancel", assignment_submission_path(@assignment, @submission)
    %br
    .row
    = render 'form'